@model Odontoprev.Domain.Usuario

<h2>Criar Novo Usuário</h2>

<form asp-action="CreateUser" asp-controller="Create" method="post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" asp-for="Nome" required />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Cpf">CPF</label>
        <input type="text" class="form-control" asp-for="Cpf" required />
        <span asp-validation-for="Cpf" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Senha">Senha</label>
        <input type="password" class="form-control" asp-for="Senha" required />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>
    
    <div class="d-flex mt-3">
        <button type="submit" class="btn btn-primary me-2">Criar</button>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</form>

